<%- include("../layout/head")%>
<%- include("../layout/navbar")%>
<main class="container">
    <div class="table-header">
        <p>Symbol</p>
    </div>

    <div class="table-header right-side">
        <p>Shares</p>
    </div>

    <div class="table-header right-side">
        <p>Price</p>
    </div>

    <div class="table-header right-side last-column">
        <p>Transacted</p>
    </div>

    <div class="horizontal-line"></div>

    <% for(let row of historyInfo) {%>
        <div class="item">
            <p><%=row.symbol%></p>
        </div>

        <div class="item right-side">
            <p><%=row.quantity%></p>
        </div>

        <div class="item right-side">
            <p>$<%=row.price%></p>
        </div>

        <div class="item right-side last-column">
            <p><%=row.transacted%></p>
        </div>

        <div class="horizontal-line-thin"></div>

    <%}%>
  
</main>
<%- include("../layout/footer")%>