<%- include('../layout/head')%>
    <div class="login-page">
        <div class="card">

        <% if(message) {%>    
            <div class="error-container">
                <p class="error-message"><%=message%></p>
            </div>            
        <%}%>
            <div class="card-header">
                <h1>Update password</h1>
            </div>

            <form action="/auth/update-password" method="post" class="card-body">
                <div class="form-group">
                    <input type="password" class="form-control" name="password" required>
                    <label class="custom-placeholder">Password</label>
                </div>

                <div class="form-group">
                    <input type="password" class="form-control" name="confPassword" required>
                    <label class="custom-placeholder">Confirm password</label>
                </div>

                <div class="btn-group">
                    <button type="submit" class="btn">Update</button>
                </div>

                <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                <input type="hidden" name="token" value="<%=token%>">
            </form>
        </div>
    </div>
<%- include('../layout/footer')%>